<h1 class="text-center">Add a new Flat</h1>
<div class="container">
  <div class="col-6">
    <div class="row">
      <%= simple_form_for @flat do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
